@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
.card-body .p{
    font-size: x-large;
    font-family: 'i7dfIFdwYjGaAMFtZd_QA1Zeelmy79QJ1HOSY9DJ6IfybRUz1r5t.ttf';
}
.card-body .left{
    margin-left: 50%;
    margin-top: -195px;
    line-height: 2em;
    font-size: large;
    font-family:'i7dfIFdwYjGaAMFtZd_QA1Zeelmy79QJ1HOSY9DJ6IfybRUz1r5t.ttf';
    list-style: fa-duotone fa-badge-check;
}
.card-body .right{
    font-size: large;
    line-height: 2em;
    font-family: 'i7dfIFdwYjGaAMFtZd_QA1Zeelmy79QJ1HOSY9DJ6IfybRUz1r5t.ttf';
}
.btn{
    font-family: 'i7dfIFdwYjGaAMFtZd_QA1Zeelmy79QJ1HOSY9DJ6IfybRUz1r5t.ttf';
    width: 170px;
    height:50px;
    margin-left: 60%;
    margin-top: 15%;
    margin-bottom: 20px;
    border-color: #FE3D3D;
    transition: 0.7s;
    
}
.btn:hover{
    text-decoration: none;
    background-color: #FE3D3D;
    color: white;
    transform: scale(1.2);
}
ul {
    list-style: none;
    padding: 0;
  }
  li {
    padding-left: 1.3em;
  }
  li:before {
    size: 5px;
    color: green;
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
  }
